[Unit]
Description=SABRE web console
After=sabre-gate.service
[Service]
Type=simple
Environment=SABRE_HOME={{SABRE_HOME}}
WorkingDirectory={{SABRE_HOME}}/app
ExecStart={{PYTHON}} -m core.web.console
Restart=always
[Install]
WantedBy=multi-user.target
